html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #505050;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 800px;
}

#content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    /*background-color: rgba(117, 117, 117, 0.15); no delete pls*/
    background-color: rgba(3, 169, 245, 0.15);
}

.section {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
    font-size: 24px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.column>* {
    margin-bottom: 20px;
}

.column>*:first-child {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row>* {
    margin-right: 20px;
}

.row>*:first-child {
    margin-left: 20px;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: white;
    background: rgb(3, 169, 245);
    border-bottom: 3px solid lightskyblue;
    font-size: 23px;
    font-weight: 400;
    padding: 10px 10px 10px 5px;
    text-align: left;
    vertical-align: middle;
}

tr:nth-child(odd) td {
    background: #F4F4F4;
}

.hide-first-column td:first-child {
    display: none;
}

td {
    padding: 5px 10px 5px 5px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 19px;
}

.input-item {
    border: none;
    border-bottom: 1px solid #C1C3D1;
    background-color: rgba(0, 0, 0, 0);
}

.input-item:hover {
    border-bottom: 1px solid rgb(3, 169, 245);
}

.input-item:focus {
    border-bottom: 1px solid rgb(3, 169, 245);
    outline: none;
    box-shadow: none;
}

.input-item-error {
    background-color: #ffd3d3 !important;
    border-bottom: 1px solid #FF4321 !important;
}

.input-item-error:hover {
    border-bottom: 1px solid #FF4321 !important;
}

.input-item-error:focus {
    border-bottom: 1px solid #FF4321 !important;
}

.input-button {
    background: rgb(3, 169, 245);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.row-form {
    justify-content: space-around;
    align-items: center;
}

.row-form>* {
    margin: 10px 5px;
    font-size: 18px;
}

.row-form>*:first-child {
    margin-left: 10px;
}

.row-form>*:last-child {
    margin-right: 10px;
}

row-form>div {
    text-align: center;
}

.popup-form-container {
    background-color: rgba(3, 169, 245, 0.55);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.popup-form-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-form-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup-form .column>*{
    width: 100%;
}

.popup-form .column {
    justify-content: center;
    align-items: center;
}

.popup-form .column .row {
    justify-content: center;
    align-items: center;
}

.popup-form .column .row>* {
    margin-right: 10px;
}

.popup-form .column .row>*:first-child {
    margin-left: 0;
}

.popup-form .column .row>*:last-child {
    flex: 1 0 auto;
    margin-right: 0;
}

.popup-form h1 {
    font-size: 24px;
}

.th-width-narrow {
    width: 10px;
}

.create-record-section {
    justify-content: center;
    align-items: center;
}

.create-record-section * {
    margin: 10px;
}

.create-record-section>*:first-child {
    font-size: 20px;
}

.row-menu {
    align-items: center;
    justify-content: space-around;
}

.row-menu>* {
    margin: 10px;
}

.row-menu>.input-button {
    width: 160px;
}

.column-narrow {
    width: 1px;
    font-size: 18px;
}