#filter-form {
    justify-content: center;
    align-items: center;
}

#popup-record-id {
    display: none;
}

#popup-edit-header {
    display: none;
    margin-top: 20px;
}

#popup-edit-button {
    display: none;
}