th {
    color: white;
    background: rgb(3, 169, 245);
    border-bottom: 3px solid lightskyblue;
    font-size: 23px;
    font-weight: 400;
    padding: 20px 20px 20px 10px;
    text-align: left;
    vertical-align: middle;
}

td {
    padding: 10px 20px 10px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 19px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center {
    align-items: center;
}

.center>* {
    margin-left: 10px;
    margin-right: 10px;
}

#logout {
    cursor: pointer;
}

#rhs select {
    border: none;
    border-bottom: 1px solid #C1C3D1;
}

#rhs select:hover {
    border-bottom: 1px solid rgb(3, 169, 245);
}

#rhs select:focus {
    border-bottom: 1px solid rgb(3, 169, 245);
    outline: none;
    box-shadow: none;
}

#rhs select,
select * {
    font-size: 24px;
}

#rhs form label {
    margin-right: 10px;
}

/*#role-select {
    margin-bottom: 30px;
}*/

.submit-button {
    /*margin-top: 30px;*/
    margin-bottom: 0px;
    width: 60%;
    height: 40px;
    line-height: 40px;
    background: rgb(3, 169, 245);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

/*#punch-out-button {
    display: none;
}*/

/*#punch-out-container {
    display: none;
}*/

h1 {
    text-align: center;
    font-size: 24px;
}

#user-welcome {
    margin-bottom: 10px;
    margin-top: 30px;
}

#lhs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#total-hours {
    border-top: 2px solid #C1C3D1;
}

#date-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#date-selection div {
    font-family: inherit;
    font-size: 24px;
}

#date-selection * {
    margin: 10px;
}

#date-selection input[type="date"] {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #C1C3D1;
}

#date-selection input[type="date"]:hover {
    border-bottom: 1px solid rgb(3, 169, 245);
}

#date-selection input[type="date"]:focus {
    border-bottom: 1px solid rgb(3, 169, 245);
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

#refresh {
    background: rgb(3, 169, 245);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

#group-size {
    text-align: center;
    width: 140px;
}

#group-size-text {
    width: 60px;
    text-align: center;
}

@media (max-width: 1024px) {
    #sub-container {
        flex-direction: column;
    }

    #sub-container>* {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    #rhs-container {
        width: 100%;
        order: -1;
    }
}

@media (max-width: 1024px) {
    #rhs {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 0;
    }
}

.text-large {
    font-size: 24px;
}

.text-med {
    font-size: 20px;
}